.section {
  padding: 40px 20px;
  width: 100%;
  max-width: 335px;
  height: 382px;
  border-radius: 30px;
  background-color: var(--dark-gray);
}

.title {
  color: var(--main);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.icon {
  stroke: var(--main);
  fill: var(--main);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
