.section {
  padding: 40px 20px;
  width: 100%;
  max-width: 335px;
  height: 382px;
  border-radius: 30px;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--main);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.narrows {
  display: flex;
  gap: 8px;
}

.narrow {
  width: 32px;
  height: 32px;
  border: 1px solid var(--border-button);
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  stroke: var(--main);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.wrap {
  display: flex;
  gap: 21px;
}
