.workout {
  max-width: 295px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: var(--main);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.wrap {
  display: flex;
  gap: 12px;
}

.number {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--main);
  color: var(--dark-gray);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.text {
  width: 203px;
  color: var(--light-gray);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.span {
  color: var(--main);
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--light-gray);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-decoration: underline;
  padding-bottom: 1px;
  cursor: pointer;
}

.icon {
  stroke: var(--main);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .workout {
    max-width: 313px;
    height: 272px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .wrap {
    margin-bottom: 6px;
  }

  .number {
    width: 44px;
    height: 44px;
    font-size: 20px;
  }
}
