@import "modern-normalize";

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("/fonts/Gilroy-Medium.woff") format("woff"),
    url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --red: #e90516;
  --blue: #4f92f7;
  --green: #30b94d;
  --main: #f9f9f9;
  --light-gray: #686868;
  --gray-medium: rgb(227, 227, 227);
  --gray: #262626;
  --dark-gray: #1f1f1f;
  --dark: #141414;
  --border-input: rgba(249, 249, 249, 0.1);
  --border-button: rgba(249, 249, 249, 0.2);
  --border-iphone: #879194;
  --overlay: rgba(20, 20, 20, 0.6);
  --background-trash: rgba(232, 80, 80, 0.1);
  --border-trash: rgba(232, 80, 80, 0.2);
  --trash: #e85050;
  --border-modal: rgba(104, 104, 104, 0.2);
}

body {
  font-family: "Gilroy", "Open Sans", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin: 0 auto;
    max-width: 1280px;
  }
}
